.introdiv{
    height: 50%;
    padding: 0 32px 24px;
    display: flex;
    gap:20px;
    align-items: flex-end;
    background-image: linear-gradient(rgba(18,18,18,0), rgba(18,18,18, 0.7));

    color: #fff;

    h1{
        padding: 0.08em 0px;
        font-size: 96px;
        line-height: 96px;
        font-weight: 900;
        letter-spacing: -.04em;
        text-align: left;
        width: 100%;
        word-break: break-word;
        margin: 0px 0px 10px;
    }
    span{
        font-size: 16px;
        line-height: 2;
        margin: 4px;
    }
    img{
        height: 100%;
        object-fit: fill;
        box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
    }



}

.buttonsdiv{
    background-image: linear-gradient(rgba(18,18,18,0.7), rgba(18,18,18, 1));

    padding: 24px 32px;
    display: flex;
    align-items: center;

    .play{
        --size: 56px;
        margin-right: 32px;
        color: #fff;
        background-color: #1db954;
        border-radius: 50%;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--size);
        width: var(--size);
        min-width: var(--size);
    }

    button{
        background-color: transparent;
        border: 1px solid hsla(0,0%,100%,.3);
        border-radius: 4px;
        box-sizing: border-box;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .1em;
        line-height: 16px;
        padding: 7px 15px;
        text-align: center;
        text-transform: uppercase;
    }

    .otherbtn{
        margin-left: 24px;
        background: transparent;
        border: 0;  
        color: hsla(0,0%,100%,.7);
        padding: 0;
        
    }
}