.heading{
    padding: 20px 32px 10px;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
    margin: 0px;
}

.loadMoreBtn{
    display: flex;
    padding: 15px 50px;
    margin: 10px auto 32px;
    border-radius: 500px;
    border: 0;
    background-color: #000;
    color: #fff;

    text-transform: capitalize;
    font-size: 0.9em;
    font-family: inherit;

    transition:box-shadow 250ms ease;
    &:focus,&:hover{
        outline: 0;
        box-shadow: 0 0 3pt 1pt #F1B24A;  
    }
    &:disabled{
        box-shadow: none;
        cursor:wait;
    }

}