.mainContainer{
    height: 100%;
    width: 100%;
    position: relative;

    button{
        transition: background-color .3s ease;
        &:focus,&:hover{
            outline: 0;
            background-color: hsla(0,0%,100%,.1);
        }
                
    }
}
